 app-vehicle-details {
  display:inline-block;
  width: 30%;
  height: 400px;
  margin: 5px;
  transition: 0.5s;
}

app-vehicle-details:hover {
  width: 33%;
  height: 420px;
  transition: 0.8s;
}

.container {
  text-align: center;
  padding-bottom: 5%;
}