<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LTICarClient1</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="vehiclelist">Vehicles</a>
        </li> <!-- TODO: Add history route and link-->
        <li class="nav-item">
          <a class="nav-link" routerLink="history">History</a>
        </li>
      </ul>
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <button class="btn btn-outline-info" id="submit-vehicle" routerLink="submitvehicle">Sell Us Your Vehicle</button>
      </div>
      <div class="d-flex">
        <button class="btn btn-success me-1 login" id="login" routerLink="login">Log In</button>
        <button class="btn btn-primary me-1 signup" id="signup" routerLink="signup">Sign Up</button>
        <button class="btn btn-danger me-4 logout" id="logout">Log Out</button>
      </div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>