<div class="imageContainer">
  <h2>Embarking on a new stage of the information technology revolution with a strategy that goes above and beyond.</h2>
  <p>We aspire tobe a company that contributes to society by providing innovative services across a range of industries, going beyond the realms of conventional car sales business models.</p>
</div>
<div class="container">
  <div>
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="../../../assets/cardealership.png" alt="Card image cap">
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/cardealership2.jpg" lt="Card image cap">
      </div>
    </div>
  </div>
  <div>
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Established</h5>
          <div class="card-text-group">
            <h1 class="card-text">1997</h1>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Stock code</h5>
          <div class="card-text-group">
            <h4 class="card-text">CAR1</h4>
            <h1 class="card-text">5544</h1>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Common stock</h5>
          <div class="card-text-group">
            <h1 class="card-text my-1">204.3</h1>
            <h4 class="card-text my-1">billion dollars</h4>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Revenue</h5>
          <div class="card-text-group">
            <h1 class="card-text my-1">5,205.5</h1>
            <h4 class="card-text my-1">billion dollars</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title addbottom">Group Companies</h5>
          <div class="card-text-group">
            <h1 class="card-text">335</h1>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title addbottom">Number of employees</h5>
          <div class="card-text-group">
            <h1 class="card-text">47,313</h1>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mobile Subscribers</h5>
          <div class="card-text-group">
            <h1 class="card-text my-1">25.93</h1>
            <h4 class="card-text my-1">million</h4>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Broadband Service Subscribers</h5>
          <div class="card-text-group">
            <h1 class="card-text my-1">8.14</h1>
            <h4 class="card-text my-1">million</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>