<div>
    <h3 id="vehicle-make">Make: {{vehicle.make}}</h3>
    <h3 id="vehicle-model">{{vehicle.model}}</h3>
    <p id="vehicle-year">Vehicle Year: {{vehicle.year}}</p>
    <p id="vehicle-vinNumber">Vin: {{vehicle.vinNumber}}</p>
    <p id="vehicle-marketValue">MarketValue: {{vehicle.marketValue}}</p>
    <input id="priceInput" type="text" value="0">
    <button id="accept" type="submit" (click)="Accept()">Accept</button>
    <button id="reject" type="button" (click)="Reject()">Reject</button>
</div>