<div>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <footer>
        <div>
            <h5 class="my-1">About Us</h5>
            <p class="my-1">LTI Car Group 1</p>
        </div>
        <address class="my-1">
            123 Main St.
            Mainland, VA 54321
            USA
        </address>
        <h5 class="my-1">Contact</h5>
        <p class="my-1"><span>&#9742;</span><a href="tel:888-888-8888">888-888-8888</a><span>&#9742;</span></p>
        <p class="my-1"><span>&#9993;</span><a href="mailto:email@noemail.com">email@noemail.com</a><span>&#9993;</span></p>
        <br/><p class="my-1">&copy; 2021 Larsen and Toubro Infotech LLC</p>
    </footer>
</div>