<div>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <footer>
        <div class="about">
            <div>
                <h5 class="my-1">About Us</h5>
                <p class="my-1">LTI Car Group 1</p>
            </div>
            <address class="my-1">
                123 Main St.
                Mainland, VA 54321
                USA
            </address>
        </div>
        <div class="contact">
            <h5 class="my-1">Contact</h5>
            <p class="my-1"><span>&#9742;</span><a class="text-info" href="tel:888-888-8888">888-888-8888</a><span>&#9742;</span></p>
            <p class="my-1"><span>&#9993;</span><a class="text-muted" href="mailto:email@noemail.com">email@noemail.com</a><span>&#9993;</span></p>
        </div>
        
        <p class="my-1 copyright">&copy; 2021 Larsen and Toubro Infotech LLC</p>
    </footer>
</div>