<div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ vehicle.vehicle.year }} {{ vehicle.vehicle.make }} {{ vehicle.vehicle.model }}</h5>
            <div class="card-text-group">
                <h3 class="card-text">{{ vehicle.vehicle.vinNumber }}</h3>
            </div>
        </div>
        <img src="../../../assets/default_car.png" width=300>
        <h2>{{vehicle.price.toLocaleString('us-US', { style: 'currency', currency: 'USD' })}}</h2>
        <button class="button">Purchase Today</button>
    </div>
</div>