<div class="container">
  <h2 class="my-3">Sign up here!</h2>
  <!-- <h5 class="successMsg">{{ successMsg }}</h5> -->
  <form class="my-4">
    <div class="row">
      <div class="column">
        <div class="form-group me-4">
          <label class="me-3" id="fname">First Name</label>
          <input class="form-control" type="text" for="fname">
        </div>
        <div class="form-group me-4">
          <label class="me-3" id="lname">Last Name</label>
          <input class="form-control" type="text" for="lname">
        </div>
        <div class="form-group me-4">
          <label class="me-3" id="email">Email</label>
          <input class="form-control" type="text" for="email">
        </div>
      </div>
      <div class="column column2">
        <div class="form-group me-4">
          <label class="me-3" id="username">Username</label>
          <input class="form-control" type="text" for="username">
        </div>
        <div class="form-group me-4">
          <label class="me-3" id="password">Password</label>
          <input class="form-control" type="password" for="password">
        </div>
        <div class="form-group me-4">
          <label class="me-3" id="confirm">Confirm Password</label>
          <input class="form-control" type="password" for="confirm">
        </div>
      </div>
    </div>
    <!-- <div id="captcha">
      <h3>{{ cap }}</h3>
    </div>
    <input id="checkCaptcha" placeholder="Enter captcha"><br/> -->
    <input type="button" value="Submit" (click)="SignupUser()">
    <!-- <h6 class="errorMsg">{{ errorMsg }}</h6> -->
  </form>
</div>