<div class="container">
  <h2 class="my-3">Sign up here!</h2>
  <form class="my-4" [formGroup]="signupGroup">
    <div class="row">
      <div class="column">
        <div class="form-group me-4">
          <label class="me-3" id="fname">First Name</label>
          <input class="form-control" type="text" for="fname" formControlName="firstName">
          <div class="form-group me-4" *ngIf='signupGroup.controls.firstName.dirty && signupGroup.controls.firstName.touched && signupGroup.controls.firstName.errors' class="alert alert-danger">
            Must provide a First Name.
        </div>
        </div>
        <div class="form-group me-4">
          <label class="me-3" id="lname">Last Name</label>
          <input class="form-control" type="text" for="lname" formControlName="lastName">
          <div class="form-group me-4" *ngIf='signupGroup.controls.lastName.dirty && signupGroup.controls.lastName.touched && signupGroup.controls.lastName.errors' class="alert alert-danger">
            Must provide a Last Name.
        </div>
        </div>
        <div class="form-group me-4">
          <label class="me-3" id="email">Email</label>
          <input class="form-control" type="text" for="email" formControlName="email">
            <div class="form-group me-4" *ngIf='signupGroup.controls.email.dirty && signupGroup.controls.email.touched && signupGroup.controls.email.errors' class="alert alert-danger">
              Must provide a valid email.
          </div>
        </div>
      </div>
      <div class="column column2">
        <div class="form-group me-4">
          <label class="me-3" id="username">Username</label>
          <input class="form-control" type="text" for="username" formControlName="userName">
          <div class="form-group me-4" *ngIf='signupGroup.controls.userName.dirty && signupGroup.controls.userName.touched && signupGroup.controls.userName.errors' class="alert alert-danger">
            Must provide a Username.
        </div>
        </div>
        <div class="form-group me-4">
          <label class="me-3" id="password">Password</label>
          <input class="form-control" type="password" for="password" formControlName="password">
          <div class="form-group me-4" *ngIf='signupGroup.controls.password.dirty && signupGroup.controls.password.touched && signupGroup.controls.password.errors' class="alert alert-danger">
            Must provide a Password at least 6 character in length.
        </div>
        </div>
        <div class="form-group me-4">
          <label class="me-3" id="confirm">Confirm Password</label>
          <input class="form-control" type="password" for="confirm">
        </div>
      </div>
    </div>
    <input type="button" value="Submit" [disabled]="!signupGroup.valid" (click)="SignupUser()">
    <h6 class="errMsg">{{ message }}</h6>
  </form>
</div>