* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column2 {
    border-left: 2px solid rgb(88, 88, 88);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.successMsg {
    color: green;
}

.errMsg {
    color: red;
}